# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# macOS
._*
.DS_Store

# Quake
applesilicon/conhistory.txt
applesilicon/maptimes.txt
applesilicon/id1
id1

# Build
engine/release
engine/debug
applesilicon/fteqw